@font-face {
  font-family: 'HYLingXinTiF';
  src: url('https://qnm.hunliji.com/o_1cg0ma81t1lhuga41cao1pila58c.ttf');
}

@font-face {
  font-family:'HYBaoSongF';
  src: url('https://qnm.hunliji.com/o_1cg0maf1d18en1ev51bhf113gfe0m.ttf');
}
